body {
    background-color: #9933FF;
    color: #6a0d91;
    font-family: "Sofadi One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #6F42C1;
    color: #6a0d91;
    font-family: "Sofadi One", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

